<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Teste de Angular
  </h1>
  <img width="300" alt="Angular Logo" src="https://app.tecnofit.com.br/img/logo/01_200px.png">
</div>
<h2>Crie as seguintes funcionalidades:</h2>
<ul>
  <li>
    Lista de professores contendo:
    <ul>
      <li>Nome</li>
      <li>Telefone</li>
      <li>E-mail</li>
      <li>Quantidade de alunos</li>
      <li>Botão para o formulário de edição</li>
    </ul>
  </li>
  <li>
    Edição de professor contendo:
    <ul>
      <li>Nome</li>
      <li>Telefone</li>
      <li>E-mail</li>
    </ul>
  </li>
</ul>
<h2>Requisitos:</h2>
<ul>
  <li>Laze-loading</li>
  <li>Suporte a internacionalização</li>
</ul>
